<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safari Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full min-h-screen  bg-zinc-800  text-white py-5 relative ">

        <div id="alluser" class="nav absolute right-10 mt-2 cursor-pointer  ">
            <a class="bg-green-400 px-3 py-2  rounded-lg" href="/read">All Details</a>
        </div>


        <h1 class=" text-2xl text-center sm:mt-0 mt-20   ">Update Safari</h1>

        <div class="w-full sm:flex sm:items-center sm:justify-center ">

            <form class="p-20 sm:inline-block  flex  flex-col gap-6   items-center" action="/update/<%=user._id%>"
                method="post">

                <div class="flex flex-wrap items-center justify-center gap-5">
                    <label class="text-[22px] sm:ml-20   sm:mr-4" for="">Check IN</label>
                    <input class="text-black px-6 py-2 sm:mr-4 rounded-lg outline-none" type="date" name="checkin"
                        value="<%=user.checkin%>">

                    <label class="text-[22px] sm:mr-4" for="">Check OUT</label>
                    <input class="text-black px-6 py-2 sm:mr-4 rounded-lg outline-none" type="date" name="checkout"
                        value="<%=user.checkout%>">
                </div>


                <div class="mt-10 flex justify-center gap-6 flex-wrap  ">
                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent" type="text"
                        placeholder="Place" name="place" value="<%=user.place%>" />

                    <label class="text-[22px] px-6 py-2 sm:mr-4" for="zone">Zone</label>

                    <select class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg  text-black" name="zone"
                        id="zone">
                        <option value="Bijrani" <%=user.zone==="Bijrani" ? "selected" : "" %>>Bijrani</option>
                        <option value="Dhela" <%=user.zone==="Dhela" ? "selected" : "" %> >Dhela</option>
                        <option value="Jhirna" <%=user.zone==="Jhirna" ? "selected" : "" %>>Jhirna</option>
                        <option value="Durga Devi" <%=user.zone==="Durga Devi" ? "selected" : "" %>>Durga Devi</option>
                        <option value="Garjia" <%=user.zone==="Garjia" ? "selected" : "" %>>Garjia</option>
                        <option value="Phato" <%=user.zone==="Phato" ? "selected" : "" %>>Phato</option>
                        <option value="Dhikala" <%=user.zone==="Dhikala" ? "selected" : "" %>>Dhikala</option>
                        <option value="Gairal" <%=user.zone==="Gairal" ? "selected" : "" %>>Gairal</option>
                        <option value="Sarpduli" <%=user.zone==="Sarpduli" ? "selected" : "" %>>Sarpduli</option>
                        <option value="Sultan" <%=user.zone==="Sultan" ? "selected" : "" %>>Sultan</option>
                        <option value="Loghut" <%=user.zone==="Loghut" ? "selected" : "" %>>Loghut</option>
                    </select>


                    <label class="text-[22px] px-6 py-2 sm:mr-4" for="zone">Day</label>

                    <select class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg text-black" name="day">
                        <option value="Morning" <%=user.day==="Morning" ? "selected" : "" %>>Morning</option>
                        <option value="Afternoon" <%=user.day==="Afternoon" ? "selected" : "" %>>Afternoon</option>
                        <option value="Night Stay" <%=user.day==="Night Stay" ? "selected" : "" %>>Night Stay</option>
                    </select>







                </div>

                <div class=" mt-10 flex flex-wrap gap-5">
                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent" type="text"
                        placeholder="Gypsy Number" name="gypsynumber" value="<%=user.gypsynumber %>" />

                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent" type="text"
                        placeholder="Driver" name="driver" value="<%=user.driver %>" />


                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent" type="text"
                        placeholder="Gypsy By" name="gypsyby" value="<%=user.gypsyby %>" />

                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent"
                        type="number" placeholder="Gypsy Payment" name="gypsypayment" value="<%=user.gypsypayment %>" />

                </div>

                <div class=" mt-10 sm:px-20 flex flex-wrap gap-5">




                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent"
                        type="number" placeholder="Collection" name="collection" value="<%=user.collection %>" />

                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent"
                        type="number" placeholder="Expense" name="expense" value="<%=user.expense %>" />


                    <input class="px-6 py-2 border-2 border-zinc-400 outline-none rounded-lg bg-transparent"
                        type="number" placeholder="Petrol" name="petrol" value="<%=user.petrol %>" />
                </div>

                <div class="mt-10 flex items-center justify-center">
                    <input class="px-2 text-white py-2 bg-yellow-500 rounded-lg cursor-pointer" type="submit"
                        value="Update Details" />

                </div>


            </form>

        </div>




    </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>